.abonements {
  background-color: #F8F9FC;
  color: #102654;
};

.abonements__title {
  margin: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.abonements__variations {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
};

.abonements__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
