.advantages {
  padding: 120px 0 111px;

  background-color: #f8f9fc;
  color: #102654;

  @media (max-width: $desktop-width) {
    padding: 100px 0 92px;
  }

  @media (max-width: $desktop-width) {
    padding: 69px 0 31px;
  }
}

.advantages__title {
  margin: 0 0 42px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media (max-width: $desktop-width) {
    margin: 0 0 30px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 42px;

    font-size: 32px;
    line-height: 32px;
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;

  padding: 0 60px 0;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.advantages__block {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $desktop-width) {
    flex-direction: row;

    width: 678px;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: column;
  }
}

.advantages__block--top {
  position: relative;
  padding-left: 27px;
  margin-bottom: 130px;

  @media (max-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.advantages__block--top::before {
  content: "";
  position: absolute;
  bottom: -78px;
  left: 0;

  width: 340px;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.advantages__block--top::after {
  content: "";
  position: absolute;
  bottom: -78px;
  right: 0;

  width: 340px;
  height: 2px;
  background-color: rgba(209, 10, 66, 0.2);

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.advantages__block--bottom {
  padding-left: 20px;

  @media (max-width: $desktop-width) {
    padding: 0;
  }
}

.advantages__block--middle {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 0;
  left: 460px;

  width: 240px;
  padding: 55px 0 58px;
  margin: 28px 0 0;

  background-color: #1c3374;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    position: unset;

    width: 442px;
    padding: 33px 0 38px;
    margin: 42px 0 28px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    padding: 37px 0 45px;
    margin: 12px 0 38px;
  }
}

.advantages__block-title {
  padding-right: 5px;
  margin: 0;

  font-size: 74px;
  line-height: 100%;
  font-weight: 700;
}

.advantages__block-text {
  margin: 0 0 33px;

  font-size: 26px;
  line-height: 150%;
  font-weight: 700;

  @media (max-width: $desktop-width) {
    margin: 0 0 13px;

    font-size: 22px;
    line-height: 150%;
  }

  @media (max-width: $tablet-width) {
    line-height: 100%;
  }
}

.advantages__block-description {
  width: 172px;
  margin: 0;

  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

.advantages__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 340px;

  @media (max-width: $tablet-width) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__element--parking {
  @media (max-width: $desktop-width) {
    padding-left: 15px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__element--experience {
  @media (max-width: $desktop-width) {
    padding-left: 15px;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__element-wrap {
  position: relative;
  padding-right: 30px;

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__element-info {
  position: relative;
  margin: 0;

  font-size: 71px;
  line-height: 150%;
  font-weight: 700;
  background: linear-gradient(#D10A42 0%,#0041CA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;

  @media (max-width: $desktop-width) {
    font-size: 58px;
    line-height: 150%;
  }

  @media (max-width: $tablet-width) {
    padding-top: 1px;
    line-height: 100%;
  }
}

.advantages__element-text {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;

  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #2E35AC;

  @media (max-width: $tablet-width) {
    position: unset;
    text-align: center;
  }
}

.advantages__element-title {
  margin: 0 0 11px;

  font-size: 22px;
  line-height: 100%;
  font-weight: 700;

  @media (max-width: $desktop-width) {
    margin: 0 0 5px;

    font-size: 20px;
    line-height: 150%;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 6px;

    line-height: 100%;
    text-align: center;
  }
}

.advantages__element-description {
  margin: 0;

  font-size: 16px;
  line-height: 140%;
  font-weight: 300;

  @media (max-width: $tablet-width) {
    text-align: center;
    width: 228px;
    margin-bottom: 32px;
  }
}

.advantages__wrap {
  padding: 27px 0 0;

  @media (max-width: $desktop-width) {
    padding: 12px 0 0;
  }

  @media (max-width: $tablet-width) {
    padding: 10px 0 0;
  }
}
