.games {
  padding: 120px 0;

  @media (max-width: $tablet-width) {
    padding: 100px 0 99px;
  }

  @media (max-width: $mobile-width) {
    padding: 70px 0 69px;
  }
}

.games__wrapper {
  position: relative;

  padding: 83px 0 108px 78px;
  background-color: #ED0233;

  @media (max-width: $tablet-width) {
    padding: 46px 0 62px 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 46px 0 354px 45px;
  }
}

.games__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 660px;
  height: 500px;
  background-image: url("../img/splash-desktop.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 660px 500px;

  @media (max-width: $tablet-width) {
    width: 386px;
    height: 292px;
    background-image: url("../img/splash-tablet.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 386px 292px;
  }

  @media (max-width: $mobile-width) {
    top: 292px;

    width: 290px;
    height: 292px;
    background-image: url("../img/splash-mobile.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 290px 292px;
  }
}

.games__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 343px;
  margin-bottom: 8px;

  @media (max-width: $tablet-width) {
    width: 202px;
    margin: 0;
  }
}

.games__title {
  width: 201px;
  margin: 0;
  padding-top: 2px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 90px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: left;

  @media (max-width: $tablet-width) {
    width: 117px;

    font-size: 52px;
    line-height: 52px;
  }
}


.games__info {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-bottom: 4px;

  font-size: 18px;
  line-height: 150%;

  border-bottom: 1px solid #ffffff;

  @media (max-width: $tablet-width) {
    font-size: 12px;
    line-height: 150%;
    padding-bottom: 2px;
  }
}

.games__info--top {
  border: none;
}

.games__info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 64px;
  margin-bottom: 15px;

  border-top: 1px solid #ffffff;

  @media (max-width: $tablet-width) {
    width: 42px;
    padding-top: 4px;
    margin-bottom: 5px;
  }
}

.games__time {
  margin: 0;

  font-size: 40px;
  line-height: 47px;
  font-weight: 700;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 100%;
  }
}

.games__text-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-size: 14px;
  line-height: 150%;

  @media (max-width: $tablet-width) {
    font-size: 10px;
    line-height: 100%;
  }
}

.games__description {
  margin: 0 0 70px;

  font-size: 18px;
  line-height: 150%;

  @media (max-width: $tablet-width) {
    margin: 0 0 38px;

    font-size: 12px;
    line-height: 150%;
  }
}

.games__request {
  padding: 25px 110px 22px 111px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  border: 4px solid #ffffff;

  @media (max-width: $tablet-width) {
    padding: 12px 51px 12px 52px;

    font-size: 10px;
    line-height: 12px;
    border: 2px solid #ffffff;
  }
}
