.gym {
  padding: 120px 0 225px;
  color: #102654;

  @media (max-width: $desktop-width) {
    padding: 100px 0 178px;
  }

  @media (max-width: $tablet-width) {
    padding: 68px 0 272px;
  }
}

.gym__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 60px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    align-items: flex-start;
  }
}

.gym__title {
  margin: 45px 0 10px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    margin: 0 0 9px;

    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 7px;

    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
}

.gym__text {
  margin: 0 0 39px;

  font-size: 18px;
  line-height: 150%;

  @media (max-width: $desktop-width) {
    margin: 0 0 33px;

    text-align: center;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 23px;
  }
}

.gym__description {
  width: 355px;
  margin: 15px 0 8px 0;

  font-size: 16px;
  line-height: 150%;
  font-weight: 300;

  @media (max-width: $desktop-width) {
    width: 502px;
    margin: 0 0 42px;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    width: 258px;
    margin: 0 0 32px;
    text-align: left;
  }
}

.gym__description--bottom {
  margin: 0;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.gym__box {
  position: relative;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.gym__box--replace {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.gym__image {
  @media (max-width: $desktop-width) {
    width: 678px;
    height: 345px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    height: 313px;
  }
}

.gym__link {
  position: absolute;
  bottom: -115px;
  left: -63px;

  @media (max-width: $desktop-width) {
    bottom: -83px;
    left: 206px;
  }

  @media (max-width: $tablet-width) {
    bottom: -208px;
    left: 0;
  }
}

.gym__play {
  @media (max-width: $desktop-width) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
    height: 167px;
  }
}
