.page-header {
  background-image: url("../img/cover-desktop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px 0 96px;

  @media (max-width: $desktop-width) {
    padding: 40px 0 106px;
  }

  @media (max-width: $tablet-width) {
    padding: 20px 0 80px;

    background-image: url("../img/cover-mobile.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 112px;

  @media (max-width: $desktop-width) {
    margin-bottom: 72px;
  }
}

.page-header__logo {
  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.page-header__phone {
  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.page-header__container {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.page-header__container::after {
  content: "";
  position: absolute;
  top: -117px;
  right: 200px;

  width: 500px;
  height: 556px;
  background-image: url("../img/header-desktop.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 500px 556px;

  @media (max-width: $desktop-width) {
    content: "";
    top: -55px;
    right: 0;

    width: 324px;
    height: 390px;
    background-image: url("../img/header-tablet.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 324px 390px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__text {
  margin: 0 0 10px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    margin: 0 0 5px;

    font-size: 34px;
    line-height: 34px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 12px;

    font-size: 28px;
    line-height: 28px;
  }
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-header__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;

  width: 100%;
  margin-bottom: 58px;

  @media (max-width: $desktop-width) {
    margin-bottom: 41px;
  }
}

.page-header__title {
  width: 395px;
  margin: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    width: 325px;
    font-size: 86px;
    line-height: 86px;
  }

  @media (max-width: $tablet-width) {
    width: 213px;
    font-size: 78px;
    line-height: 78px;
  }
}

.page-header__menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 130px;
  left: 20px;

  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-align: right;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    top: 93px;
    left: 0;
  }

  @media (max-width: $tablet-width) {
    top: 80px;
    left: 0;
  }
}

.page-header__menu-link {
  color: #ffffff;
}

.page-header__buy {
  padding: 19px 53px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 4px solid #ffffff;

  @media (max-width: $desktop-width) {
    padding: 19px 31px 19px 31px;
  }

  @media (max-width: $tablet-width) {
    padding: 21px 83px 20px 82px;
  }
};

.page-header__social {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: 78px;
  padding: 0;
  margin: 0;

  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    display: none;
  }
};

.page-header__social-item {
  margin-bottom: 20px;
}

.page-header__social-link {
  color: #ffffff;
}
