.page-header {
  background-image: url("../img/cover-desktop.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 30px 0 50px 0;
}

.page-header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page-header__logo {
  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.page-header__phone {
  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.page-header__container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.page-header__description {
  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 298px;
}

.page-header__title {
  margin: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 109px;
  line-height: 109px;
  font-weight: 700;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header__navigation {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 150%;
  text-align: right;
}

.page-header__buy {
  width: 230px;
}

.page-header__button {
  padding: 18px 53px 17px 53px;

  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 4px solid #ffffff;
};

.page-header__links {
  list-style: none;
  padding: 0;
  margin: 0;
};
