.page-footer {
  padding: 40px 0 36px;
  background-color: #030A1A;

  @media (max-width: $desktop-width) {
    padding: 42px 0 36px;
  }

  @media (max-width: $tablet-width) {
    padding: 50px 0 36px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.page-footer__logo {
  padding-right: 21px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #ffffff;

  @media (max-width: $desktop-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 19px;

    font-size: 20px;
    line-height: 20px;
  }
}

.page-footer__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 431px;

  font-size: 14px;
  line-height: 16px;

  @media (max-width: $desktop-width) {
    width: 391px;
  }

  @media (max-width: $tablet-width) {
    position: relative;

    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 19px;
  }
}

.page-footer__link {
  color: #ffffff;

  @media (max-width: $tablet-width) {
    margin-bottom: 11px;
  }
}

.page-footer__link--offers {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: -40px;
    right: 88px;
  }
}

.page-footer__link--trainers,
.page-footer__link--table {
  @media (max-width: $tablet-width) {
    margin-left: 22px;
  }
}

.page-footer__social {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

  width: 110px;
  padding: 2px 0 0;
  margin: 0;

  @media (max-width: $desktop-width) {
    width: 100px;
  }

  @media (max-width: $tablet-width) {
    width: 143px;
  }
}

.page-footer__social-item {
  margin-left: 25px;

  @media (max-width: $desktop-width) {
    margin-left: 20px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 35px;
  }
}

.page-footer__social-item:first-child {
  margin-left: 0;
}

.page-footer__link-vk {
  @media (max-width: $tablet-width) {
    width: 32px;
    height: 17px;
  }
}

.page-footer__link-ig {
  @media (max-width: $tablet-width) {
    width: 27px;
    height: 27px;
  }
}

.page-footer__link-fb {
  @media (max-width: $tablet-width) {
    width: 14px;
    height: 27px;
  }
}
