.reviews {
  padding: 0 0 33px;

  @media (max-width: $desktop-width) {
    padding: 0 0 13px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 70px;
  }
}

.reviews__title {
  margin: 0 0 52px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #102654;

  @media (max-width: $desktop-width) {
    margin: 0 0 41px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 43px;

    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 300px;

  @media (max-width: $desktop-width) {
    padding: 0 56px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 32px;
  }
}

.reviews__slide {
  width: 560px;
  padding: 54px 62px 57px;
  background-color: #1c3374;

  @media (max-width: $desktop-width) {
    padding: 54px 64px 57px;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
    height: 335px;
    padding: 0;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.reviews__image {
  margin: 7px 0 0;
}

.reviews__wrap {
  width: 328px;
}

.reviews__name {
  margin: 0 0 13px;

  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.reviews__text {
  margin: 0;

  font-size: 16px;
  line-height: 140%;
}
