.reviews {
  padding: 0 0 120px;
}

.reviews__title {
  margin: 0;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #102654;
}

.reviews__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 300px
}

.reviews__slide {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding: 62px;
  background-color: #1c3374;
}
