.reviews {
  padding: 0 0 120px;

  @media (max-width: $desktop-width) {
    padding: 0 0 100px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 70px;
  }
}

.reviews__title {
  margin: 0 0 52px;

  font-family: "BebasNeue", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #102654;

  @media (max-width: $desktop-width) {
    margin: 0 0 41px;

    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 43px;

    font-size: 32px;
    line-height: 32px;
  }
}

.reviews__slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 300px;

  @media (max-width: $desktop-width) {
    padding: 0 21px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 22px;
  }
}

.reviews__slide {
  width: 560px;
  padding: 54px 62px 57px;
  background-color: #1c3374;

  @media (max-width: $desktop-width) {
    width: 566px;
    padding: 56px 65px 56px;
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
    padding: 48px 20px 35px;
    margin: 0 60px;
  }
}

.reviews__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.reviews__image {
  margin: 7px 0 0;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: -15px;
    left: 20px;

    width: 68px;
    height: 68px;
  }
}

.reviews__wrap {
  width: 328px;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 176px;
  }
}

.reviews__name {
  margin: 0 0 13px;

  font-size: 20px;
  line-height: 150%;
  font-weight: 700;

  @media (max-width: $desktop-width) {
    margin: 0 0 12px;
  }

  @media (max-width: $tablet-width) {
    width: 70px;
    margin-bottom: 24px;

    line-height: 130%;
    text-align: left;
  }
}

.reviews__text {
  margin: 0;

  font-size: 16px;
  line-height: 140%;

  @media (max-width: $tablet-width) {
    padding-left: 6px;
    text-align: center;
  }
}

.previous {
  position: absolute;
  top: 205px;
  left: 263px;

  cursor: pointer;

  @media (max-width: $desktop-width) {
    top: 187px;
    left: 45px;
  }

  @media (max-width: $tablet-width) {
    top: 233px;
    left: 15px;
  }
}

.next {
  position: absolute;
  top: 205px;
  right: 263px;

  cursor: pointer;

  @media (max-width: $desktop-width) {
    top: 187px;
    right: 45px;
  }

  @media (max-width: $tablet-width) {
    top: 233px;
    right: 15px;
  }
}
