.slider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.slider__item {
  width: 260px;
  height: auto;
  position: relative;
}

.slider__item:hover,
.slider__item:focus {
  outline: none;
  cursor: pointer;

  .slider__box {
    position: absolute;
    top: 75px;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
  }

  .slider__item-title {
    bottom: 0;
    top: 52px;
  }
}

.slider__item-title {
  position: absolute;
  bottom: 23px;
  left: 0;

  width: 100%;
  margin: 0;

  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  text-align: center;
}

.slider__box {
  display: none;
}

.slider__box-text {
  margin: 0 0 32px;

  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #b6bdcc;
}

.slider__box-list {
  width: 160px;
  margin: 0;
  margin-left: 50px;
  padding: 0;

  font-size: 14px;
  line-height: 150%;
}

.slider__box-item {
  margin: 0 0 13px;
}

.slider__image {
  object-fit: contain;

  @media (max-width: $desktop-width) {
    width: 268px;
    height: 294px;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
    height: 274px;
  }
}

.left {
  position: absolute;
  top: 230px;
  left: -38px;

  cursor: pointer;

  @media (max-width: $desktop-width) {
    top: 214px;
    left: 45px;
  }

  @media (max-width: $tablet-width) {
    top: 203px;
    left: 15px;
  }
}

.right {
  position: absolute;
  top: 230px;
  right: -38px;

  cursor: pointer;

  @media (max-width: $desktop-width) {
    top: 214px;
    right: 45px;
  }

  @media (max-width: $tablet-width) {
    top: 203px;
    right: 15px;
  }
}

.right-arrow,
.left-arrow {
  @media (max-width: $tablet-width) {
    width: 10px;
    height: 19px;
  }
}
