@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2"), url("../fonts/BebasNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
};

@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue-Bold.woff2") format("woff2"), url("../fonts/BebasNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
};

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
};

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed.woff2") format("woff2"), url("../fonts/RobotoCondensed.woff") format("woff");
  font-weight: 400;
  font-display: swap;
};

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"), url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
};

@import "variables.scss";
@import "scaffolding.scss";
@import "slick.scss";
@import "slick-theme.scss";
@import "blocks/page-header.scss";
@import "blocks/gym.scss";
@import "blocks/abonements.scss";
@import "blocks/games.scss";
@import "blocks/trainers.scss";
@import "blocks/slider.scss";
@import "blocks/advantages.scss";
@import "blocks/offers.scss";
@import "blocks/reviews.scss";
@import "blocks/for-you.scss";
@import "blocks/free-class.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
